.theme__colors{
    display: flex;
    justify-content: space-between;
    gap: 2rem  ;
    margin-top: 1rem;
}
.theme__color-plate{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


/* Button goes here */
button {
    width: 2rem; 
    height: 2rem; 
    background-image: url('./../../assets/chevron-up-w.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none; 
    cursor: pointer; 
  }

  button.active {
    background-image: url('./../../assets/chevron-down-w.png');
  }