@import url('../Buttons/Buttons.css');
.theme{
  width: 100vw;
  padding: 1rem;
}

.theme__colors{
    display: flex;
    justify-content: space-between;
    gap: 2rem  ;
    margin-top: 1rem;
}
.theme__color-plate{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}
.color-plate-stripes {
  content: '';
  background-image: repeating-linear-gradient(
      45deg,          /* Winkel der Schraffur */
      transparent 0,
      transparent 5px,
      rgba(0, 0, 0, 0.2) 5px,
      rgba(0, 0, 0, 0.2) 10px
    );
}

