:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(65, 63, 63, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  justify-content: center;
  /* min-height: 100vh; */
  color: #110c0c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color:  beige;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  display: contents;
}

.app {
  width: min(600px, 100% - 2rem);
}


.card__collection-name{
  font-size: 2rem;
  font-weight: 700;
  color:#c1baba;
  width: 100%;
}