:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --red: #ff0000;
  --white: #ffffff;
  --black: #000;
  --lightgray: #8c8080;
  --darkgray:#4f4949;
  --beige: #f5f5dc;
  --lightpink: #ffc0cb;
  
  
  --bgBody: var(--lightgray);
  --bgHeader: var(--darkgray);
  --headerColor: var(--beige);
  --collectionName: var(--beige);
  --bgCardColorName: var(--lightpink);
  --borderCard: var(--darkbrown);
 
 


body {
  background-color: var(--bgBody);
  margin: 0;
  display: grid;
  justify-content: center;
  color: #110c0c;
}
header {
  width:100vw;
  background-color: var(--bgHeader);
  margin-bottom: 1rem
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color:  var(--headerColor);
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  display: contents;
}

.app {
  width: min(600px, 100% - 2rem);
}
